.header {
  display: flex;
  align-items: center;
}

.header h1 {
  font-family: "THE AMAZING SPIDER-MAN", sans-serif;
  color: yellow;
  font-size: 60px;
  position: relative;
  top: 150px;
}

.text-container {
  margin-left: 140px;
  margin-right: 200px;
  margin-bottom: 380px;
}

.image-container {
  flex: 0 0 auto;
  margin-right: 0px;
}

.header img {
  width: 30%;
}

.web {
  position: absolute;
  left: 52%;
  top: 250px;
  width: 20%;
}
