.header {
  display: flex;
  align-items: center;
}

.header h1 {
  font-family: "THE AMAZING SPIDER-MAN", sans-serif;
  color: yellow;
  font-size: 70px;
  position: relative;
  top: 200px;
  /* text-shadow: ; */
}

.text-container {
  position: absolute;
  margin-left: 140px;
  margin-right: 200px;
  margin-bottom: 380px;
}

.image-container {
  flex: 0 0 auto;
  margin-right: 0px;
}

.header img {
  width: 30%;
  position: relative;
  left: 50%;
  top: 30px;
}

.web-container {
  position: absolute;
  left: 15%; 
  top: 260px;
  width: 70%;
}


